header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
    background-color: gray;
    color: white;
    text-align: right;
    

}


body {
    margin: 0;
    background-color: lightsteelblue;
}

